extends base

block content
	.container-fluid
		h1.text-center.mr-bot-30 Bars near your location

		each bar in bar_list
			#barblock.row
				.col-sm-2
					img(src="#{bar.image_url}")
				.col-sm-8
					h3 #{bar.name}
					p #{bar.snippet_text}
				.col-sm-2
					#loggeduser
					if loggeduser
						button.togglegoing.btn.btn-primary.center( bar="#{bar.id}", user="#{loggeduser.twitter_id}")
							span.count #{bar.count} 
							|  Going !!
					else
						//- login user if not already logged in
						a.btn.btn-primary.center(href="/users/pre/#{prev_path}")
							span.count #{bar.count} 
							|  Going !!

block scripts
	script(src="/javascripts/going.js")